@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
:root {
  --bg: white;
  --text: black;
}

[data-theme="dark"] {
  --bg: #0f172a;   /* dark background */
  --text: #f8fafc; /* light text */
}

body {
  
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}
.fatzy {
  font-family: "Londrina Shadow", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}
.home:hover {
    color: rgba(96,165,250,255);
    transition: 200ms ease-in;
}
.lan:hover {
  transform: scale(1.1);
  transition: 300ms ease-in;
}